<!DOCTYPE html>
<html>
  <head>
    <title>Canvas.fm</title>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/results.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/track_controls.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/search.css" type="text/css" media="screen" charset="utf-8">

    <script id='search-results-template' type='text/mustache'>
      <ul>
        {{#tracks}}
          <li data-track-id="{{id}}">
            <div class="left">
              <img src="{{artworkUrl}}"></img>
            </div>
            <div class="right">
              <h3>{{title}}</h3>
              <h4>{{artistName}}</h4>
            </div>
          </li>
        {{/tracks}}
        {{^tracks}}
          <h2>No tracks found.</h2>
        {{/tracks}}
      </ul>
    </script>

    <script id='track-controls-template' type='text/mustache'>
      <div>
        <h2>{{title}}</h2><span> : </span>
        <h3>{{artistName}}</h3>
        <span title="pause track" class='button pause'></span>
        <a href="#" class='button download' download target="_blank" title="download image">Download</a>
      </div>
    </script>

    <script id='track-index-template' type='text/mustache'>
      <ul>
        {{#tracks}}
          <li data-track-id="{{id}}">
            <div class="left">
              <img src="{{thumbnail}}"></img>
            </div>
            <div class="right">
              <h2>{{title}}</h2>
              <h3>{{artistName}}</h3>
            </div>
          </li>
        {{/tracks}}
      </ul>
    </script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25695442-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div id="wrap">
      <header>
        <form id="search" action="/search">
          <img src="/images/80x50_black.png"></img>
          <input id="search-input" name="query" type="text" placeholder="Search SoundCloud&hellip;"></input>
          <input type="submit" value="Go">
        </form>
        <h1><a href="/">Canvas.<span>fm</span></a></h1>
        <h2>Powered by <a href="http://soundcloud.com" target="_blank">SoundCloud</a></h2>
      </header>

      <section id="track-index"></section>

      <section id="search-results-container"></section>

      <section id="track-controls-container"></section>

      <section id="canvas-container">
        <div id="unsupported">
          <h3>Sorry, your browser doesn't provide enough awesome to fully display this visualisation ☹</h3>
          <p>You need to be using a recent version of Firefox; grab a copy <a target="_blank" href="http://www.mozilla.org/en-US/firefox/new/">here.</a></p>
        </div>

        <canvas id="circle" width="1024" height="1024"></canvas>
      </section>

      <section class="audio-container">
        <audio id="audio"
               controls="true"
               preload
               autobuffer>
        </audio>
      </section>

      <footer>
        <ul>
          <li>By Oliver Nightingale</li>
          <li><a href="http://github.com/olivernn/canvas.fm">Code</a></li>
          <li>Inspired By <a href="http://cargo.jon-kyle.com/1905814/Musical-spectrum-analysis">Jon Kyle</a></li>
        </ul>
      </footer>
    </div>

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://connect.soundcloud.com/2/latest.min.js" type="text/javascript"></script>

    <script src="/javascripts/supplement-0.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/davis-0.6.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/davis.google_analytics.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/dsp.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/xhr.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/audio.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/canvas.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/deferred.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/track.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/search.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/track_controls.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/track_index.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/spinner.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/mustache.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/poirot.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/app.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>