body {
  font-family: helvetica;
  color: #333;
}

#wrap {
  width: 1024px;
  margin: 20px auto;
  position: relative;
}

#search img {
  width: 40px;
  float:left;
  margin-top: 3px;
  margin-right: 5px;
}

header {
  border-top: 3px solid #333;
  margin-bottom: 10px;
}

header h1 {
  margin-top: 12px;
  font-size: 2.6em;
  margin-bottom: 0px;
}

header h1 a {
  text-decoration: none;
  color: #333;
}

header h1 a span {
  color: #ff6600;
}

header h2 {
  margin-top: 0px;
  padding-left: 4px;
  font-size: 0.6em;
}

header h2 a {
  color: #333;
}

header h2 a:hover {
  text-decoration: underline;
}

.audio-container {
  display: none;
}

header .controls {
  float: right;
  margin-top: 10px;
}

header .controls a {
  background-color: black;
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  padding-top: 15px;
  width: 50px;
  height: 33px;
  border-radius: 50px;
}

footer {
  border-top: 3px solid #333;
  clear: both;
}

#canvas-container {
  display:block;
  margin: 20px 0px;
}

canvas {
  display: block;
}

#track-index {
  margin-top: 40px;
}

#track-index li {
  list-style: none;
  float: left;
  width: 341px;
  margin-bottom: 60px;
  cursor: pointer;
}

#track-index .left {
  float: left;
  width: 100px;
  border-right: 2px solid #333;
  padding-right: 10px;
}

#track-index .right {
  float: left;
  width: 209px;
  padding: 0 10px;
}

#track-index ul {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}

#track-index li img {
  display: block;
}

#track-index li:hover h2 {
  color: #ff6600;
}

#track-index h2 {
  font-size: 1em;
  margin-top:0;
}
#track-index h3 {
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
}