body {
  font-family: helvetica;
  color: #333;
}

#wrap {
  width: 1024px;
  margin: 20px auto;
  position: relative;
}

header {
  border-top: 3px solid #333;
  margin-bottom: 10px;
}

header h1 {
  margin-top: 12px;
  font-size: 2.6em;
}

.audio-container {
  display: none;
}

header .controls {
  float: right;
  margin-top: 10px;
}

header .controls a {
  background-color: black;
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  padding-top: 15px;
  width: 50px;
  height: 33px;
  border-radius: 50px;
}

#canvas-container.paused #play {
  display: block;
}

#canvas-container.playing #play {
  display: none;
}

#canvas-container.paused #circle {
  display: none;
}

#canvas-container.playing #circle {
  display: block;
}

#play {
  font-size: 1.6em;
  text-align: center;
  margin:100px auto;
}
