#search {
  float: right;
  padding-top: 14px;
}

#search #search-input {
  width: 230px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 2px;
  -moz-border-radius: 2px;
}

#search input[type=submit] {
  border: 1px solid #333;
  background-color: #333;
  padding: 5px;
  margin: 0px;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  -moz-border-radius: 2px;
  cursor: pointer;
}